* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    width: 600px;
    border: 2px solid black;
}

.container .heading {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

.container .heading h1 {
    text-transform: uppercase;
    font-size: 25px;
}

.container .wapper {
    display: flex;
}

.container .wapper .image {
    border: 2px solid black;
    border-top: none;
    border-left: none;
}

.container .wapper .image img {
    width: 250px;
}

.container .wapper .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container .wapper .introduce label {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid black;
}

.container .wapper .introduce label strong {
    font-weight: 500;
}

.container .content .information {
    width: 100%;
}

.container .content .information ul {
    padding: 10px 50px;
}

.container .content .information span {
    padding-left: 10px;
}

.container .content .information .price {
    margin-top: 5px;
}

.container .content .information .price strong {
    padding-left: 10px;
}

.form-contact {
    width: 600px;
    margin-top: 20px; 
    border: 2px solid black;
}

.form-contact h1 {
    text-align: center;
    border-bottom: 2px solid black;
}

.form-contact form .group {
    display: flex;
}

.form-contact form .group span {
    width: 120px;
    height: 25px;
    padding: 2px;
    border: 1px solid black;
}

.form-contact form .group input {
    width: 100%;
    border-radius: 0px;
    padding-left: 10px;
}
